@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'EB Garamond', serif;
}

.intro{
    height: 100vh;
}

.intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.intro h1 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fff;
    justify-content: center;
    text-align: center;
    letter-spacing: 10px;
    
}
.intro h2 {
    position: absolute;
   
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    
}
.intro p {
    position: absolute;
   
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    
}

section{
    height: 100vh;
    color: black;
}

section h1{
    padding-top: 300px;
    text-align: center;
    font-size: 100px;
}
